@import url('https://fonts.googleapis.com/css?family=Cinzel');

.App {
  text-align: center;
}
.containerBody{
  display:grid;
  grid-template-columns:.75fr 1.5fr .75fr;
}
body{
  background-color: rgb(34, 33, 33);
  color: white;
  font-family: 'Cinzel', serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
