@import url('https://fonts.googleapis.com/css?family=Cinzel');

.App {
  text-align: center;
  height: 100vh;
}
/* .containerBody{
  display:grid;
  grid-template-columns:2fr .5fr;
} */
body{
  background-color: rgb(34, 33, 33) !important;
  color: white !important;
  font-family: 'Cinzel', serif;
}

