@import url('https://fonts.googleapis.com/css?family=Cinzel');

.App {
  text-align: center;
}
.containerBody{
  display:grid;
  grid-template-columns:1.5fr .75fr;
}
body{
  background-color: rgb(34, 33, 33) !important;
  color: white !important;
  font-family: 'Cinzel', serif;
}

